<h3 *ngIf="(inProgress$ | async)">InProgress</h3>
<h3 *ngIf="(loaded$ | async)">Loaded</h3>
<button mat-button (click)="fetchGif()">Fetch Gif</button>
<ng-container *ngIf="(lols$ | async) as lols">
  <mat-grid-list [cols]="cols | async">
    <mat-grid-tile *ngFor="let lol of lols">
      <mat-card>
        <mat-card-header class="lol-header">
          <mat-card-title class="lol-title">{{ lol.headline }}</mat-card-title>
        </mat-card-header>
        <img src="{{ lol.imgUrl }}" alt="Waiting for Gif"/>
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<!--
  [colspan]="lol.cols"
    [rowspan]="lol.rows"
  <h3>{{ lolData.headline }}</h3>
  <img src="{{ lolData.imgUrl }}" alt="Waiting for Gif"/>-->