$header-height: 64px;

.lol-header {
  display: flex;
  align-items: center;
  height: $header-height;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(0,0,0,0.12);
  color: rgba(0, 0, 0, 0.6);
}

.lol-title {
  margin-right: auto;
  font-weight: 400;
  font-size: 1.4em;
}